    <div class="gallery-photo{% if css %} {{ css }}{% endif %}">
        <a class="fancybox" title="{{ photo.title }}" data-fancybox-group="gallery" href="{{ photo.image.url }}" ><img src="{% ifequal is_thumb '1' %}{{ photo.get_thumbnail_url }}{% else %}{{ photo.get_display_url }}{% endifequal %}" alt="{{ photo.title }}"/></a>
        {% if photo.caption %}<p>{{ photo.caption }}</p>{% endif %}
    
    </div>