    <div class="photo-gallery{% if css %} {{ css }}{% endif %}">

        <h2><a href="{{ gallery.get_absolute_url }}">{{ gallery.title }} <br /></a><p>( {{gallery.photos.all.count}} фото)</p></h2>
        <div class="row">
	        {% for photo in gallery.sample|slice:'1' %}
            <a href="{{ gallery.get_absolute_url }}" ><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}"/></a>
	        {% endfor %}
	    </div>
	  

    </div>
