body {
    background: #fff; 
}
h1 {
    font-size: 20px;
    line-height: 23px;
}
h2 {
    font-size: 18px;
    color: #2F7AB1;
}
h4 {
    color: #2f7ab1;
    font-size: 13px;
}
input[type="submit"] {
    background: #005096;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #245fcd;
}
.table {
    border: 1px solid #d0cfcf;
}
.breadcrumb {
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
    font-size: 12px;
}
.breadcrumb li a {
    color: #f47a23!important;
    text-decoration: underline;
}
.table td{
    border: 1px solid #d0cfcf;
    text-align: center;
}
.table tr:first-child {
    background: #fefefe; /* Old browsers */
background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.01, #fefefe), color-stop(0.51, #f5f4f4), to(#edecec));
background: -webkit-linear-gradient(#fefefe 1%, #f5f4f4 51%, #edecec 100%);
background: -moz-linear-gradient(#fefefe 1%, #f5f4f4 51%, #edecec 100%);
background: -o-linear-gradient(#fefefe 1%, #f5f4f4 51%, #edecec 100%);
background: linear-gradient(#fefefe 1%, #f5f4f4 51%, #edecec 100%); /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */ /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#edecec',GradientType=0 ); /* IE6-9 */
}
.nav-tabs {
    margin-bottom: 0;
}
.nav-tabs li a{
    color: #303030!important;
}
.nav-tabs > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    background: #eaeaea; /* Old browsers */
background: -moz-linear-gradient(top,  #eaeaea 0%, #f5f5f5 50%, #fcfcfc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(50%,#f5f5f5), color-stop(100%,#fcfcfc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #eaeaea 0%,#f5f5f5 50%,#fcfcfc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #eaeaea 0%,#f5f5f5 50%,#fcfcfc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #eaeaea 0%,#f5f5f5 50%,#fcfcfc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #eaeaea 0%,#f5f5f5 50%,#fcfcfc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */
}
.nav-tabs > li.active > a {
    background: #fff;
}
.wrap {
    background: url("/static/img/background.jpg") no-repeat center top fixed;
    }
.container {
    min-height: 1200px; 
    min-width: 1000px;
}
#content a {
    color: #2f7ab1;
}
.row {
    margin-left: 0px
}
.carousel-inner {
    height: 300px;
}
#all {
    border: 15px solid #fff;
    border: 15px solid rgba(255,255,255, 0.7);
    border-radius: 10px;
    clear: both;
}
.wrap_content {
    background: #fff; 
}
.wrap_content #hmenu.nav li {
    display: inline-block;
}
.wrap_content #hmenu.nav li a div {
    background-repeat: no-repeat;
    padding: 0 5px;
    background-position: center;
    max-width: 156px;
    min-width: 88px;
    text-align: center;
}
.wrap_content #hmenu.nav {
    margin-bottom: 26px; 
}
.wrap_content #hmenu.nav li a div span {
    margin-top: 58px;
    display: inline-block;
    font-size: 18px;
    color: #2f7ab1;
}
.wrap_content #hmenu.nav ul {
    margin: 0;
    padding-left: 10px;
}
.answer {
    color: #2f7ab1;
}
#login {
    float:right;
    background: #f9b178; /* Old browsers */
    background: -moz-linear-gradient(top,  #f9b178 0%, #f9b178 17%, #f9ae73 24%, #f8a768 34%, #f78b37 69%, #f6852c 79%, #f68227 86%, #f68227 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9b178), color-stop(17%,#f9b178), color-stop(24%,#f9ae73), color-stop(34%,#f8a768), color-stop(69%,#f78b37), color-stop(79%,#f6852c), color-stop(86%,#f68227), color-stop(100%,#f68227)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f9b178 0%,#f9b178 17%,#f9ae73 24%,#f8a768 34%,#f78b37 69%,#f6852c 79%,#f68227 86%,#f68227 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f9b178 0%,#f9b178 17%,#f9ae73 24%,#f8a768 34%,#f78b37 69%,#f6852c 79%,#f68227 86%,#f68227 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f9b178 0%,#f9b178 17%,#f9ae73 24%,#f8a768 34%,#f78b37 69%,#f6852c 79%,#f68227 86%,#f68227 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f9b178 0%,#f9b178 17%,#f9ae73 24%,#f8a768 34%,#f78b37 69%,#f6852c 79%,#f68227 86%,#f68227 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b178', endColorstr='#f68227',GradientType=0 ); /* IE6-9 */
    display: inline-block;
    text-align: center;
    color:#fff;
    border-radius: 3px 3px;
    font-size: 13px;
    padding: 2px 10px;
}
#soc_networks {
	margin: 0 auto; 
	width:200px;
	height:30px;
}
#soc_networks a:hover{
    text-decoration: none;
}
#soc_networks img{
	margin:0 3px;
}

#soc_networks img:hover{
    box-shadow: 0px 0px 14px 2px #fff;
	border-radius:2px; 
	-webkit-border-radius:2px; 
	-moz-border-radius:2px; 
	-khtml-border-radius:2px;
}
.well {
    border: none;
    box-shadow: none;
    padding-left: 0;
}
.form-horizontal .control-label {
    width: 79px;
    text-align: left;
}
.form-horizontal .controls {
    margin-left: 90px;
}
#login a{
    color:#fff;
}
#logo {
    float:left;
    clear:both;
}
.btn-warning {
    background: #f9b178; /* Old browsers */
    background: -moz-linear-gradient(top,  #f9b178 0%, #f9b178 17%, #f9ae73 24%, #f8a768 34%, #f78b37 69%, #f6852c 79%, #f68227 86%, #f68227 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9b178), color-stop(17%,#f9b178), color-stop(24%,#f9ae73), color-stop(34%,#f8a768), color-stop(69%,#f78b37), color-stop(79%,#f6852c), color-stop(86%,#f68227), color-stop(100%,#f68227)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f9b178 0%,#f9b178 17%,#f9ae73 24%,#f8a768 34%,#f78b37 69%,#f6852c 79%,#f68227 86%,#f68227 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f9b178 0%,#f9b178 17%,#f9ae73 24%,#f8a768 34%,#f78b37 69%,#f6852c 79%,#f68227 86%,#f68227 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f9b178 0%,#f9b178 17%,#f9ae73 24%,#f8a768 34%,#f78b37 69%,#f6852c 79%,#f68227 86%,#f68227 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f9b178 0%,#f9b178 17%,#f9ae73 24%,#f8a768 34%,#f78b37 69%,#f6852c 79%,#f68227 86%,#f68227 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b178', endColorstr='#f68227',GradientType=0 ); /* IE6-9 */
}
.button_vertical_menu {
    background: #f9b178; /* Old browsers */
    background: -moz-linear-gradient(top,  #f9b178 0%, #f9b178 17%, #f9ae73 24%, #f8a768 34%, #f78b37 69%, #f6852c 79%, #f68227 86%, #f68227 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9b178), color-stop(17%,#f9b178), color-stop(24%,#f9ae73), color-stop(34%,#f8a768), color-stop(69%,#f78b37), color-stop(79%,#f6852c), color-stop(86%,#f68227), color-stop(100%,#f68227)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f9b178 0%,#f9b178 17%,#f9ae73 24%,#f8a768 34%,#f78b37 69%,#f6852c 79%,#f68227 86%,#f68227 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f9b178 0%,#f9b178 17%,#f9ae73 24%,#f8a768 34%,#f78b37 69%,#f6852c 79%,#f68227 86%,#f68227 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f9b178 0%,#f9b178 17%,#f9ae73 24%,#f8a768 34%,#f78b37 69%,#f6852c 79%,#f68227 86%,#f68227 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f9b178 0%,#f9b178 17%,#f9ae73 24%,#f8a768 34%,#f78b37 69%,#f6852c 79%,#f68227 86%,#f68227 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b178', endColorstr='#f68227',GradientType=0 ); /* IE6-9 */
    padding: 7px;
    width: 206px;
    display: inline-block;
    text-align: center;
    color:#fff;
    border-radius: 0px 3px 3px 0px;
    font-size: 16px;
    text-shadow:1px 1px 1px #333;
    box-shadow: 0px 7px 9px #D1D1D1;
}
#left_part .subscribe_block p {
    background: #f9b178; /* Old browsers */
    background: -moz-linear-gradient(top,  #f9b178 0%, #f9b178 17%, #f9ae73 24%, #f8a768 34%, #f78b37 69%, #f6852c 79%, #f68227 86%, #f68227 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9b178), color-stop(17%,#f9b178), color-stop(24%,#f9ae73), color-stop(34%,#f8a768), color-stop(69%,#f78b37), color-stop(79%,#f6852c), color-stop(86%,#f68227), color-stop(100%,#f68227)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f9b178 0%,#f9b178 17%,#f9ae73 24%,#f8a768 34%,#f78b37 69%,#f6852c 79%,#f68227 86%,#f68227 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f9b178 0%,#f9b178 17%,#f9ae73 24%,#f8a768 34%,#f78b37 69%,#f6852c 79%,#f68227 86%,#f68227 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f9b178 0%,#f9b178 17%,#f9ae73 24%,#f8a768 34%,#f78b37 69%,#f6852c 79%,#f68227 86%,#f68227 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f9b178 0%,#f9b178 17%,#f9ae73 24%,#f8a768 34%,#f78b37 69%,#f6852c 79%,#f68227 86%,#f68227 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b178', endColorstr='#f68227',GradientType=0 ); /* IE6-9 */
    padding: 7px;
    width: 206px;
    display: inline-block;
    text-align: center;
    color:#fff;
    border-radius: 0px 3px 3px 0px;
    font-size: 16px;
    text-shadow:1px 1px 1px #333;
    box-shadow: 0px 7px 9px #D1D1D1;  
}
#left_part .subscribe_block input {
    width: 178px;
}
#left_part .subscribe_block form {
    margin: 15px;
}
#left_part .subscribe_block .btn.btn-primary {
    width: 100px;
}
#vmenu ul li a {
    color:#303030;
    text-decoration: underline;
    line-height: 21px;
}
#vmenu ul li a:hover{
    color:#f47a23;
    text-decoration: none;
    line-height: 21px;
}
#foto_ex {
    margin: 20px 16px;
    width: 187px;
}
#vmenu ul {
    list-style-image: url(/static/img/arow.png);
    margin-left: 35px;
    margin-top: 10px;
}
#vmenu ul li.selected a{
    color:#f47a23;
    text-decoration: none;
}
#vmenu a.selected{
    color:#f47a23;
    text-decoration: none;
}
#left_part{
    margin-left: 0px;
}
#vmenu {
    margin-left: 0px;
}
#top_block {
    float:left;
    margin: 35px 0px 14px 45px;
}
#top_block p {
    color:#fff;
    font-size:17px;
    text-shadow: 1px 1px #666;
}
#top_block p.phone {
    font-size: 23px;
}
.photo-gallery {
    display: inline-block;
    position: relative;
    padding-right: 12px;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.photo-gallery h2 a{
    font-weight: normal;
    font-size: 17px;
    color: black!important;

}
.photo-gallery h2 p {
    font-size: 10px;
    color: black;
    margin: 0;
    margin-top: -7px;
}
.photo-gallery h2 {
    background: white;
    position: absolute;
    bottom: 0;
    width: 200px;
    text-align: center;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.photo-gallery img{
    width: 200px;
    max-height: 128px;
}
.gallery-photo img{
    margin: 5px;
    float:left;
}
.photo-gallery_one img{
    width: 150px;
    max-height: 100px;
    margin:5px 0;
}
span.skype_pnh_container {
    font-size: 15px!important;
}
footer {
    background: #fff; 
    opacity: 0.8;
    filter: alpha(opacity=80);
    border-radius: 10px;
    color: #333;
}
footer #footerLeft {
    float: left;
    padding: 10px 20px 0;
}
footer #footerLeft .email {
    font-size: 18px;
}
footer #footerText {
    float: left;
    margin-left: 71px;
    width: 381px;
    text-align: center;
    margin-top: 10px;
    }
footer div.tel p{
    font-size: 18px;
}
footer .aqua {
    float: right;
    margin: 10px;
    text-align: center;
}
footer .aqua a{
    color: #333;
}
footer .page-header {
    overflow: hidden;
    border: none;
}
#footerText .tel span.skype_pnh_container {
    font-size: 15px!important;
}
#footerText .tel .skype_pnh_text_span {
    font-size: 15px!important;
}
