<style>
.text_left{
    width:300px;
    float:left;
    height:700px;
}
p.urls_left {
    width:300px;
}
p.urls_left a{
    font-size: 18px;
    color: #2f7ab1;
}
</style>
<div class="text_left">
{{html}}
</br></br></br>
<p class="urls_left"><a href="/bronirovanie">Забронировать номер</a></p>
<p class="urls_left"><a href="/nomera-i-ceny">Ознакомиться с ценами</a></p>
</div>


