<footer>
    <div class="page-header">
    <div id="footerLeft">
        <div class="vcard">
            <p>&copy; Copyright<br />
            База отдыха "Каравелла", 2013</p>
            <p class="email">e-mail: azov.karavella@gmail.com</p>
        </div>
    </div>
    
    <div id="footerText">
        <div class="vcard">
            <div class="vcard"><p>Запорожская область, Акимовский район, пгт. Кириловка Коса Пересыпь</p></div>
            <div class="tel">
                <p>+38 (067) 774-52-28</p>
                <p>+38 (067) 252-03-22</p>
            </div>
        </div>
    </div>
    <div class="aqua">
        <a href="http://www.aquaweb.com.ua/read/ru/sozdanie-internet-magazina" title="Cоздание сайта" target="_blank">Cоздание сайта 
        <br /> <img title="Cоздание сайта" alt="Cоздание сайта" src="/static/img/aqua.png"/></a>
    </div>
    </div>
</footer>