<header>
{% load cms_tags sekizai_tags %}
<div id="login">
    {% if not user.is_authenticated %}
    <a href="/login/">Вход</a>
    <a href="/registration/">Регистрация</a>
    {% else %}
    {{ user.profile.full_name }}
    <a href="/logout/">Выход</a>
    {% endif %}
</div>
<div id="soc_networks">
    
        {% placeholder horizontal_top_menu_content or %}
            {% show_placeholder "horizontal_top_menu_content" "main" %}
        {% endplaceholder %}
</div>
<div id="logo"><a href="/"><img src="/static/img/logo.png" alt="logo"></a></div>
<div id="top_block">
    <p>Запорожская область, Акимовский район, пгт.Кириловка Коса Пересыпь</p>
    <p class="phone">+38 (067) 774-52-28, +38 (067) 252-03-22</p>
    <p>e-mail: azov.karavella@gmail.com</p>
</div>
</header>