 {% load cms_tags sekizai_tags %}
 <div class="span3" id="vmenu">
 {% placeholder vertical_menu_content or %} 
 {% show_uncached_placeholder "vertical_menu_content" "main" %}
 {% endplaceholder %}   
 {% load menu_tags %}  
  <span class="button_vertical_menu">Информация туристам</span> 
 <ul>
    {% show_menu 0 100 100 100 %}
 </ul>
 <a href="/fotografii"><span class="button_vertical_menu">Фоторепортаж</span></a>
 <a href="/fotografii"><img id="foto_ex" src="/static/img/foto_ex.jpg" alt="fotografii"></a>
 </div>
