{% extends "photologue/root.html" %}
{% load menu_tags %}
{% load photologue_tags %}

{% block title %}{{ object.title }}{% endblock %}

{% block breadcrumbs %}<a href="/">{% show_breadcrumb %}</a>» {{ gallery.title }}{% endblock %}

{% block base_content %}

<script type='text/javascript' src="{{ STATIC_URL }}js/jquery.fancybox.js"></script>  
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.fancybox.css">


<script type='text/javascript'>//<![CDATA[    
	$(window).load(function(){    
	$(document).ready(function(){    
	$('.fancybox').fancybox();    
	});    
});//]]>    
</script> 

    <div class="photo-gallery_one{% if css %} {{ css }}{% endif %}">

        <h2><a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a></h2>
        <div class="row">
        	<div class="span8">
	        {% for photo in gallery.sample %}
	            <a style="margin:5px" class="fancybox" title="{{ photo.title }}" data-fancybox-group="gallery" href="{{ photo.get_display_url }}" ><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}"/></a>
	        {% endfor %}
	    	</div>
    	</div>

    </div>

{% endblock %}